{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title">{{ .Title }}</h1>
            {{ .Content }}
            {{ range .Pages }}
            <a class="list__item" href="{{.Permalink}}">
                <div>
                   {{ .Title }}
                </div>
                <div>
                    {{.Date | time.Format "02.01.2006"}} <br>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
